---
---

@import "{{ site.theme }}";

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 25px;
}

.col-lg-8, .col-lg-offset-2, .col-md-10, .col-md-offset-1 {
    width: 740px;
    position: relative;
    margin: 0 auto;
}
